<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head"); %>
<body class="container">
    <%- include("../partials/header", {pageName: 'Sobre'}); %>
    <main>
        <div class="jumbotron">
            <h1> Sobre mim</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui excepturi blanditiis cumque, nulla vel voluptate similique deleniti sunt vitae neque quia eum, deserunt itaque corrupti sapiente nihil rerum amet ab?</p>
        </div>
    </main>
    <%- include("../partials/footer"); %>
</body>
</html>